<!doctype html>
<html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - The Sri Co.</title>
  {% endblock %}
</head>
<body>
  
    <div id="logo">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Sri Corp." height="150px">
    </div>


  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="messages">
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <footer>
    {% block footer %}
    &copy; Copyright 2018 by <a href="http://example.com/">The Sri Co.</a>.
    {% endblock %}
  </footer>

</body>
</html>
